@font-face {
  font-family: Proxima;
  src: url("/static/assets/fonts/proximanova-semibold-webfont.ttf");
}
html {
  height: 100%;
}
body {
  background: radial-gradient(circle, #141e30, #341c24, #000); /* Standard syntax */
  background-repeat: no-repeat;
}
.preloader {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #c04f3d;
  z-index: 400;
}
canvas {
  display: block;
  position: fixed;
  z-index: -5;
  top: 0;
  left: 0;
}
#infoArtist,
#infoTrack {
  font-size: 0.875em;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: #c3b1a1;
}
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
input:-webkit-autofill {
  -webkit-text-fill-color: #c04f3d !important;
  background-color: #fcf5d8 !important;
  -webkit-box-shadow: 0 0 0px 1000px #fcf5d8 inset;
}
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-text-fill-color: #c04f3d !important;
  background-color: #fcf5d8 !important;
  -webkit-box-shadow: 0 0 0px 1000px #fcf5d8 inset;
}
.round-button {
  border-radius: 50%;
  background-color: #fcf5d8;
  -webkit-box-shadow: 0px 9px 12.78px 5.22px rgba(0,0,0,0.09);
          box-shadow: 0px 9px 12.78px 5.22px rgba(0,0,0,0.09);
  position: absolute;
  margin-left: -30px;
  margin-top: -50px;
  width: 54px;
  height: 54px;
  z-index: 123;
  cursor: pointer;
  overflow: hidden;
  display: inline-block;
}
.play-wrapper {
  position: relative;
  width: 26px;
  height: 26px;
  margin-left: 14px;
  margin-top: 13px;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  overflow: hidden;
}
.left {
  height: 100%;
  float: left;
  background-color: #c04f3d;
  width: 36%;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  overflow: hidden;
}
.right {
  height: 100%;
  float: right;
  width: 36%;
  background-color: #c04f3d;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.triangle-1 {
  -webkit-transform: translate(0, -100%);
          transform: translate(0, -100%);
}
.triangle-2 {
  -webkit-transform: translate(0, 100%);
          transform: translate(0, 100%);
}
.triangle-1,
.triangle-2 {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  width: 0;
  height: 0;
  border-right: 26px solid #fcf5d8;
  border-top: 13px solid transparent;
  border-bottom: 13px solid transparent;
  -webkit-transition: -webkit-transform 0.25s ease;
  transition: -webkit-transform 0.25s ease;
  transition: transform 0.25s ease;
  transition: transform 0.25s ease, -webkit-transform 0.25s ease;
}
.paused .left {
  width: 50%;
}
.paused .right {
  width: 50%;
}
.paused .triangle-1 {
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
.paused .triangle-2 {
  -webkit-transform: translate(0, 50%);
          transform: translate(0, 50%);
}
.paused .play-wrapper {
  margin-left: 17px;
}
#controlPanel {
  position: relative;
  width: 600px;
  height: 105px;
  margin-top: 100px;
  margin-left: 50px;
}
.iconWrapper {
  margin-top: 5px;
  display: inline-block;
  position: relative;
  top: -25px;
  width: 26px;
}
#control-plus {
  border-width: 1px;
  border-color: #fcf5d8;
  border-style: solid;
  border-radius: 50%;
  position: relative;
  width: 17px;
  height: 17px;
  z-index: 300;
  margin-left: 7px;
  cursor: pointer;
}
#control-plus:hover {
  background-color: #fcf5d8;
}
#control-plus:hover .icon-menu {
  background-color: #c04f3d;
}
#trackInfoPanel {
  display: inline-block;
}
.icon-menu {
  background-color: #fcf5d8;
  -webkit-mask: url("/static/assets/img/control-plus.svg") no-repeat 50% 50%;
  -webkit-mask-image: url("/static/assets/img/control-plus.svg");
  mask-image: url("/static/assets/img/control-plus.svg");
  height: 7px;
  width: 11px;
  margin-left: 2px;
  margin-left: 3px;
  margin-top: 5px;
  position: relative;
  display: block;
}
.background-control {
  background-color: #c04f3d;
  border-radius: 1.5px;
  -webkit-box-shadow: 0px 10px 12.78px 5.22px rgba(0,0,0,0.15);
          box-shadow: 0px 10px 12.78px 5.22px rgba(0,0,0,0.15);
  position: absolute;
  width: 105px;
  height: 105px;
  z-index: 0;
  display: inline;
}
.TrackInfoWrapper {
  display: inline-block;
  vertical-align: top;
}
.ctrlWrapper {
  display: inline-block;
  position: relative;
  vertical-align: top;
  margin-top: 15px;
  margin-left: 5px;
}
#timelineWrapper,
.volumeWrapper {
  display: inline-block;
  vertical-align: top;
}
.volumeWrapper {
  margin-left: 20px;
}
.time {
  font-family: Proxima;
  font-size: 0.688em;
  position: relative;
  top: 10px;
  color: #fcf5d8;
}
#currentTime {
  display: inline-block;
}
#totalTime {
  display: inline-block;
  float: right;
}
#timeline {
  width: 280px;
  height: 2px;
  background: rgba(252,245,216,0.5);
  float: left;
  border-radius: 15px;
  position: relative;
  cursor: pointer;
}
.icon-vol {
  background-image: url("/static/assets/img/volume2.png");
  height: 17px;
  width: 19px;
  display: inline-block;
  vertical-align: top;
  top: -6px;
  position: relative;
}
#volumeline {
  width: 50px;
  height: 2px;
  background: #b1c6d0;
  vertical-align: top;
  border-radius: 15px;
  position: relative;
  cursor: pointer;
  display: inline-block;
}
#playheadTl,
#volHead {
  width: 2px;
  height: 12px;
  top: -5px;
  background: #fcf5d8;
  position: absolute;
}
#currentTl,
#currentVol {
  height: 2px;
  background: #fcf5d8;
  float: left;
  width: 0;
}
#infoImage {
  position: relative;
  -webkit-box-shadow: 0px 10px 12.78px 5.22px rgba(0,0,0,0.15);
          box-shadow: 0px 10px 12.78px 5.22px rgba(0,0,0,0.15);
  width: 105px;
  height: 105px;
  margin-left: 0px;
  display: inline-block;
  top: -30px;
}
.infoAT {
  display: inline-block;
  position: relative;
  z-index: 50;
  height: 30px;
  vertical-align: top;
  margin-top: 8px;
  margin-left: 5px;
  width: 280px;
}
#infoArtist {
  font-family: Proxima;
  color: #c04f3d;
  text-decoration: none;
}
#infoTrack {
  font-family: Proxima;
  color: #c04f3d;
  max-height: 20px;
  overflow-y: hidden;
}
.big-play {
  background-color: #c04f3d;
  -webkit-mask: url("/static/assets/img/big-play.svg") no-repeat 50% 50%;
  -webkit-mask-image: url("/static/assets/img/big-play.svg");
  mask-image: url("/static/assets/img/big-play.svg");
  height: 54px;
  width: 54px;
  margin-left: 2px;
  display: inline-block;
}
#form {
  background: #c04f3d;
  -webkit-box-shadow: 0px 10px 12.78px 5.22px rgba(0,0,0,0.15);
          box-shadow: 0px 10px 12.78px 5.22px rgba(0,0,0,0.15);
  position: relative;
  width: 26px;
  height: 46px;
  z-index: 149;
  margin-top: 6px;
  overflow: hidden;
}
#form.disable {
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}
#input {
  background-color: #f1f1e5;
  position: relative;
  top: -7px;
  margin-left: 5px;
  width: 193px;
  height: 28px;
  z-index: 196;
  display: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: none;
  border: none;
  outline: none;
  font-family: Proxima;
  color: #c04f3d;
  padding-left: 5px;
}
.url-box {
  border-width: 1px;
  border-color: #fcf5d8;
  border-style: solid;
  border-radius: 9px;
  width: 17px;
  height: 35px;
  z-index: 210;
  display: inline-block;
  font-family: Proxima;
  color: #fcf5d8;
  font-size: 9px;
  text-align: center;
  padding-top: 3px;
  margin-left: 7px;
  cursor: pointer;
  position: relative;
  top: 3px;
}
.url-box:hover {
  background-color: #fcf5d8;
  color: #c04f3d;
}
#submit {
  position: relative;
  border-width: 1px;
  border-color: #f1f1e5;
  border-style: solid;
  border-radius: 50%;
  background: #c04f3d;
  width: 26px;
  height: 26px;
  z-index: 200;
  top: -7px;
  margin-left: 5px;
  cursor: pointer;
  display: none;
}
#submit:hover {
  background-color: #fcf5d8;
}
#submit:hover .icon-play {
  background-color: #c04f3d;
}
.icon-play {
  background-color: #fcf5d8;
  -webkit-mask: url("/static/assets/img/submit.svg") no-repeat 50% 50%;
  -webkit-mask-image: url("/static/assets/img/submit.svg");
  mask-image: url("/static/assets/img/submit.svg");
  height: 11px;
  width: 11px;
  display: inline-block;
}
.credit {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-family: Proxima;
  color: #c04f3d;
}
.nonselectable {
  -webkit-user-select: none;
  -khtml-user-drag: none;
  -moz-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.preloader-container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transform-origin: center center;
          transform-origin: center center;
}
.preloader__logo {
  width: 250px;
  -webkit-animation: hideshow 1.5s ease-in-out infinite;
          animation: hideshow 1.5s ease-in-out infinite;
  fill: #fcf5d8;
}
.preloader--out.preloader .preloader__logo {
  -webkit-animation: logo--out 1.5s ease-in-out forwards;
          animation: logo--out 1.5s ease-in-out forwards;
}
.preloader--out.preloader .loading-text {
  -webkit-animation: preloader--out 0.5s ease-in-out forwards;
          animation: preloader--out 0.5s ease-in-out forwards;
}
.loading-text {
  text-align: center;
  color: #fcf5d8;
  font-family: Proxima;
}
@-webkit-keyframes hideshow {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes hideshow {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes logo--out {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  80% {
    width: 400px;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
@keyframes logo--out {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  80% {
    width: 400px;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
@-webkit-keyframes preloader--out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
@keyframes preloader--out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
